/**FORMULARIO DE CONTACTO**/

.h1Formulario {
  margin-bottom: 25px;
  text-align: center;
 } 

.h3formulario {
    color: $color-uno;
  }
  
  .containerformulario {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  .guia1 {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
  
    > * {
      padding: 1em;
    }
  }
  
  .guia2 {
    background: $color-cuatro;
  
    form {
      display: grid;
      grid-template-columns: 1fr 1fr;
  
      label {
        display: block;
      }
  
      p {
        margin: 0;
        padding: 1em;
      }
      
      .block {
        grid-column: 1 / 3;
      }

      button {
        width: 100%;
        color: $color-dos;
      }

      input {
        width: 100%;
        border: none;
        background: none;
        outline: 0;
        color: $color-uno;
        border-bottom: 1px solid $color-uno;
      }
  
      button {
        background: $color-uno;
        border: 0;
        text-transform: uppercase;
        padding: 1em;
  
        &:hover, &:focus {
          background: $color-tres;
          color: $color-uno;
          transition: background-color 1s ease-out;
          outline: 0;
        } 
      }  
    }
  }
  .informacion {
    background: $color-cuatro;
  
    h4, ul, p {
      text-align: center;
      margin: 0 0 1rem 0;
    }
  }
  @media (min-width: 1280px) {
    .guia1 {
      display: grid;
      grid-template-columns: 2fr 1fr;
  
      > * {
        padding: 2em;
      }
    }
  
    .informacion {
      h4, ul, p {
        text-align: left;
      }
    }
  }